// Import styles 原始路徑
@import "node_modules/@coreui/coreui/scss/coreui";
// 修改路徑
// @import "../../vendors/coreui/coreui.scss";

//login.html
.loginBackgroud{
    background-image: url("../../../images/cms/sky.jpg");
    background-size: cover;
}

.loginZone{
    box-shadow: 0 0 20px #cac6c6;
}

.loginTitle{
    margin-bottom: 20px;
}

//siderbar
.noAuthority{
    display: none; 
}

//alert
.alertBox{
    visibility: visible;
    opacity: 1;
    display: block;
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    color: white;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: firebrick;
    box-shadow: 2px 2px 5px rgba(178, 34, 34, 0.75);
    overflow: hidden;
    z-index: 4;
    transition: all 0.3s linear;
}
.alertBox.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}

#close_alert_btn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    line-height: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#close_alert_btn:hover{
    color: black;
}

