//login.html
.loginBackgroud{
    background-image: url("../../../images/cms/sky.jpg");
    background-size: cover;
}

.loginZone{
    box-shadow: 0 0 20px #cac6c6;
}

.loginTitle{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    img{
        width: 250px;
    }
}

//header
@media all and (max-width: 996px) {
    .logo{
        left: 50% !important;
    }
}
@media all and (max-width: 576px) {
    .logo{
        left: 30% !important;
    }
}


.btnLogouter{
    margin: 0 !important;
}
#btnLogout{
    min-width: 54px;
}

//siderbar
.noAuthority{
    display: none; 
}

//page table title
.tableTitle{
    font-weight: 800;
    background-color: antiquewhite;
}

//alert
.alertBox{
    font-size: 16px;
    visibility: visible;
    opacity: 1;
    display: block;
    box-sizing: border-box;
    width: 230px;
    padding: 20px;
    color: white;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: crimson;
    box-shadow: 2px 2px 5px rgba(220, 20, 60, 0.75);
    overflow: hidden;
    z-index: 4;
    transition: all 0.3s linear;
}

.alertBox.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}

#close_alert_btn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    line-height: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#close_alert_btn:hover{
    color: black;
}

//index
.barChart, .pieChart{
    position: relative;
    height: 50vh;
    width: 70vw;
}

//administrator
.adminTable tr td:nth-child(3){
    min-width: 100px;
}
.adminTable tr td:nth-child(4){
    min-width: 80px;
}
.adminTable tr td:nth-child(5){
    text-align: center;
    min-width: 80px;
}

.adminTable tr td:last-child{
    text-align: center;
    min-width: 80px;
}

.deleteConfirm, .addConfirm, .editConfirm{
    display: block;
    opacity: 1;
    box-sizing: border-box;
    width: 200px;
    height: 150px;
    padding: 15px;
    background-color: whitesmoke;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 6;
    transition: all 0.3s linear;
    border: 5px solid #9AD3DE;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(#000000, 0.4);
    text-align: center;

    .confirm_btns{
        margin-top: 30px;
    }
}
.deleteConfirm.hidden, .addConfirm.hidden, .editConfirm.hidden{
    display: none;
    opacity: 0;
    transition: all 0.3s linear;
}

//article
.articleTable tr td:nth-child(1){
    width: 8%;
    min-width: 40px;
}
.articleTable tr td:nth-child(2){
    width: 45%;
    min-width: 150px;
}
.articleTable tr td:nth-child(3){
    width: 22%;
    min-width: 100px;
}
.articleTable tr td:nth-child(4){
    min-width: 100px;
}
.articleTable tr td:nth-child(5){
    min-width: 50px;
}

.postContent{
    line-height: 1rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
    max-height: 3rem;      
}

.reportReason{
    line-height: 1rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
    max-height: 3rem;      
}

//message
.messageTable tr td:nth-child(1){
    width: 8%;
    min-width: 40px;
}
.messageTable tr td:nth-child(2){
    width: 45%;
    min-width: 150px;
}
.messageTable tr td:nth-child(3){
    width: 22%;
    min-width: 100px;
}
.messageTable tr td:nth-child(4){
    min-width: 100px;
}
.messageTable tr td:nth-child(5){
    min-width: 50px;
}

//order
.orderTable tr td:nth-child(1){
    width: 5%;
    min-width: 40px;
}
.orderTable tr td:nth-child(2){
    width: 5%;
    min-width: 40px;
}
.orderTable tr td:nth-child(3){
    width: 8%;
    min-width: 100px;
}
.orderTable tr td:nth-child(4){
    width: 8%;
    min-width: 80px;
}
.orderTable tr td:nth-child(5){
    width: 8%;
    min-width: 80px;
}
.orderTable tr td:nth-child(6){
    width: 38%;
    min-width: 200px;
}
.orderTable tr td:nth-child(7){
    width: 8%;
    min-width: 100px;
}
.orderTable tr td:nth-child(8){
    width: 10%;
    min-width: 120px;
    select{
        width: 80%;
    }
}
.orderTable tr td:nth-child(9){
    width: 10%;
    min-width: 80px;
}

//fruitType
.fruitTypeTable{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}
.fruitTypeTable div{
    padding: 5px;
    margin-bottom: 10px;
}

.fruitTypeTable div:nth-child(1){
    width: 5%;
    min-width: 40px;
}
.fruitTypeTable div:nth-child(2){
    width: 11%;
    min-width: 120px;
    select{
        width: 90%;
    }
}
.fruitTypeTable div:nth-child(3){
    width: 11%;
    min-width: 100px;
}
.fruitTypeTable div:nth-child(4){
    width: 11%;
    min-width: 100px;
}
.fruitTypeTable div:nth-child(5){
    width: 30%;
    min-width: 250px;
    display: flex;
    align-items: center;
}
.fruitTypeTable div:nth-child(6){
    width: 10%;
    min-width: 80px;
    text-align: center;
    position: relative;

    .onOffItem{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.fruitTypeTable div:nth-child(7){
    width: 10%;
    min-width: 80px;
    text-align: center;
}
.fruitTypeTable div:nth-child(8){
    width: 10%;
    min-width: 80px;
    text-align: center;
}

//boxMaterial
.boxMaterialTable{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}
.boxMaterialTable div{
    padding: 5px;
    margin-bottom: 10px;
}

.boxMaterialTable div:nth-child(1){
    width: 10%;
    min-width: 40px;
}
.boxMaterialTable div:nth-child(2){
    width: 21%;
    min-width: 120px;
}
.boxMaterialTable div:nth-child(3){
    width: 30%;
    min-width: 250px;
    display: flex;
    align-items: center;
}

.boxMaterialTable div:nth-child(4){
    width: 13%;
    min-width: 80px;
    text-align: center;
    position: relative;

    .onOffItem{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.boxMaterialTable div:nth-child(5){
    width: 13%;
    min-width: 80px;
    text-align: center;
}
.boxMaterialTable div:nth-child(6){
    width: 13%;
    min-width: 80px;
    text-align: center;
}

