<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="cms_index.html">
        <i class="nav-icon icon-home"></i> 後台首頁
      </a>
    </li>
    <!-- <li class="nav-title">會員</li> -->
    <li class="nav-item">
      <a class="nav-link" href="cms_member.html">
        <i class="nav-icon icon-people"></i> 會員資料管理</a>
    </li>
    <!-- <li class="nav-title">商品</li> -->
    <!-- <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-puzzle"></i> 一般商品管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="cms_prodInfo.html">
            <i class="nav-icon icon-puzzle"></i> 商品資料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cms_prodReport.html">
            <i class="nav-icon icon-puzzle"></i> 商品評價檢舉</a>
        </li>
      </ul>
    </li> -->
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-cursor"></i> 客製商品管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="cms_fruitType.html">
            <i class="nav-icon icon-cursor"></i> 客製果甘種類管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cms_boxMaterial.html">
            <i class="nav-icon icon-cursor"></i> 禮盒素材管理</a>
        </li>
      </ul>
    </li>
    <!-- <li class="nav-title">訂單</li> -->
    <li class="nav-item">
      <a class="nav-link" href="cms_generalOrder.html">
        <i class="nav-icon icon-star"></i> 訂單管理</a>
    </li>
    <!-- <li class="nav-title">訂單</li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-star"></i> 訂單管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="cms_generalOrder.html">
            <i class="nav-icon icon-star"></i> 一般訂單
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cms_customizedOrder.html">
            <i class="nav-icon icon-star"></i> 客製訂單</a>
        </li>
      </ul>
    </li> -->
    <!-- <li class="nav-title">討論區</li> -->
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-list"></i> 討論區管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="cms_article.html">
            <i class="nav-icon icon-list"></i> 話題檢舉管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cms_message.html">
            <i class="nav-icon icon-list"></i> 留言檢舉管理</a>
        </li>
      </ul>
    </li>
    <li class="divider"></li>
    <!-- <li class="nav-title">管理員</li> -->
    <li class="nav-item" id="adminNav">
      <a class="nav-link" href="cms_administrator.html">
        <i class="nav-icon icon-user"></i> 管理員帳號管理
      </a>
    </li>
  </ul>
</nav>